<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class = container-fluid bg-dark>
            {% block navbar %}
            
            {% endblock navbar %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% block message %}

                    {% endblock message %}
                </div>
            </div>
        </div>
        <div class = "container">
            {% block side%}

            {%endblock side %}
            
            {% block content %}

            {% endblock content %}
        </div>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
    </body>
</html>
